<% statusHelper = (collection, item) => { %>
    <% if(item.status == "active") { %>
        <a href="<%= systemConfig.prefixAdmin %>/<%=collection%>/change-status/<%=item.id%>/<%=item.status%>"> 
            <span class="label label-success"> <%=item.status %></span> 
        </a>                        
     <% } else if (item.status == "inactive") { %>
        <a href="<%= systemConfig.prefixAdmin %>/<%=collection%>/change-status/<%=item.id%>/<%=item.status%>"> 
        <span class="label label-warning"> <%= item.status %></span> 
        </a>
    <% } %>

<%} %>